/* 
  ====  Table of Contents ====

        Globals

        Typography

        Utility

        Layout

        Pages
          Home Page
          Rules Page
          FAQ Page
          Articles Page
          About Us Page

        Media Queries

  ============================
*/



/* ========== Globals ========== */

:root {
  font-size: 62.5%;
  --primary-color: #802eaf;
  --category-announcement: #eb6424;
  --category-commontary: #0fa3b1;
  --category-spotlight: #802eaf;
  --category-guide: #55a630;
  --category-duel: #ef233c;
  --font-dark: #181818;
  --font-light: #636363;
  --font-family: Raleway, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  color: var(--font-light);
  max-width: 900px;
  margin: 0 2rem;
}


/* ========== Typography ========== */

h1,
h2,
h3 {
  color: var(--font-dark);
  margin-bottom: 3rem;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 8rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

li {
  font-size: 2rem;
}

a {
  font-size: 2rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: opacity .2s ease;
}

a:hover {
  opacity: 0.5;
  transition: opacity .2s ease;
}


/* ========== Utility ========== */

.break {
  border-top: 1px solid var(--font-dark);
  margin-bottom: 8rem;
}

.card {
  max-width: 22rem;
  border-radius: 3%;
}

.flip {
  flex-direction: row-reverse;
}

/* ========== Layout ========== */

header,
main,
footer {
  text-align: center;
}

header {
  margin-bottom: 4rem;
}

header img {
  max-width: 30rem;
  margin: 2rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: 2rem;
  color: var(--font-dark);
}

/* distinguish current
   page on navbar */
.current {
  opacity: 0.5;
}

section {
  margin-bottom: 8rem;
}

footer p {
  font-size: 1.3rem;
}


/* ========== Pages ========== */

/* ----- Home Page ----- */

.intro div {
  max-width: 80%;
  margin: auto;
  padding-top: 4rem;
}

.intro h1 {
  margin-bottom: 3rem;
}

.intro p {
  font-size: 3rem;
}

.reasons {
  display: flex;
  justify-content: space-around;
}

.reason {
  max-width: 25rem;
}

.join div {
  display: flex;
  justify-content: center;
}

.join a {
  margin: 1.5rem;
}

/* ----- Rules Page ----- */

.rules {
  max-width: 60rem;
  margin: 0 auto;
}

.rule li {
  text-align: left;
}

.rule a:hover {
  text-decoration: underline;
}

/* ----- FAQ Page ----- */

.faq {
  display: flex;
  justify-content: space-between;
}

.faq .faq__text-wrap {
  max-width: 70%;
}

.faq .faq__text {
  text-align: left;
}

/* ----- Articles Page ----- */

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  justify-items: center;
  margin-bottom: 4rem;
}

.article {
  width: 40rem;
  position: relative;
  box-shadow: .2rem .2rem .5rem var(--font-dark);
}

.article__image {
  object-fit: cover;
  width: 100%;
}

.article__content {
  line-height: 1.5;
  text-align: left;
  padding: 2rem;
}

.article__details {
  display: flex;
  justify-content: space-between;
}

.article__author-date {
  display: flex;
  flex-direction: column;
}

.article__date,
.article__category,
.article__author {
  font-size: 1.5rem;
}

.article__categories {
  display: flex;
}

.article__category {
  color: white;
  border-radius: 5rem;
  padding: .3rem 1rem .3rem 1rem;
  margin-left: .5rem;
}

.article__category--announcement {
  background-color: var(--category-announcement);
}

.article__category--announcement::after {
  content: "Announcement";
}

.article__category--guide {
  background-color: var(--category-guide);
}

.article__category--guide::after {
  content: "Guide";
}

.article__category--commontary {
  background-color: var(--category-commontary);
}

.article__category--commontary::after {
  content: "Commontary";
}

.article__category--spotlight {
  background-color: var(--category-spotlight);
}

.article__category--spotlight::after {
  content: "Spotlight";
}

.article__category--duel {
  background-color: var(--category-duel);
}

.article__category--duel::after {
  content: "Duel";
}

.article__author {
  text-align: right;
}

.article__author::before {
  content: "- ";
}

.article__link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
}

/* ----- About Us Page ----- */

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.member {
  max-width: 80rem;
  width: 100%;
  padding: 2rem;
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  box-shadow: .2rem .2rem .5rem var(--font-dark);
}

.member__picture {
  border-radius: 50%;
}

.member__info {
  text-align: left;
}

.member__name {
  margin: 2rem 0 1rem 0;
}

.member__role {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

/* ========== Media Queries ========== */

@media (max-width: 850px) {
  
  /* Global */

  h1 {
    font-size: 5rem;
  }

  header nav {
    flex-wrap: wrap;
  }

  header a {
    font-size: 3rem;
    flex: 1 1 450px;
    margin: 0.8rem;
  }

  /* Home Page */

  .reasons {
    flex-wrap: wrap;
  }

  .reason {
    margin-bottom: 2rem;
  }

  /* Rules Page */

  .rule ul {
    margin: 2rem;
  }

  /* FAQ Page */

  .faq {
    flex-wrap: wrap;
    justify-content: center;
  }

  .faq div {
    flex: 1 1 350px;
  }

  .faq .faq__text {
    margin-bottom: 4rem;
  }

  /* Articles Page */

  .articles {
    grid-template-columns: 1fr;
  }

}